In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
dataset=pd.read_csv('Market_Basket_Optimisation.csv')
dataset.head()

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
dataset.shape

(7500, 20)

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Data columns (total 20 columns):
shrimp               7500 non-null object
almonds              5746 non-null object
avocado              4388 non-null object
vegetables mix       3344 non-null object
green grapes         2528 non-null object
whole weat flour     1863 non-null object
yams                 1368 non-null object
cottage cheese       980 non-null object
energy drink         653 non-null object
tomato juice         394 non-null object
low fat yogurt       255 non-null object
green tea            153 non-null object
honey                86 non-null object
salad                46 non-null object
mineral water        24 non-null object
salmon               7 non-null object
antioxydant juice    3 non-null object
frozen smoothie      3 non-null object
spinach              2 non-null object
olive oil            0 non-null float64
dtypes: float64(1), object(19)
memory usage: 1.1+ MB

In [5]:
transactions=[]
for i in range(0,7501):
    transactions.append([str(dataset.values[i,j])for j in range(0,20)])

IndexError: index 7500 is out of bounds for axis 0 with size 7500

In [ ]:
transactions

In [ ]:
from apyori import apriori
ruels=apriori(transaction,min_support=0.003,min_confidence=0.2,min_lift=3,min_length=2)

In [ ]:
results=list(rules)

In [ ]:
results[8][0]