In [124]:
import numpy as np
import pandas as pd

In [125]:
movies=pd.read_csv('tmdb_5000_movies.csv')

In [126]:
from sklearn.preprocessing import LabelEncoder
movies.iloc[:,1]=LabelEncoder().fit_transform(movies.iloc[:,1])
new_movie=movies.groupby('genres').agg('count')['title'].reset_index().rename({'title':'title count'},axis=1)

In [144]:
final_movies=movies.merge(new_movie,on='genres')[['genres','title','vote_average','vote_count','title count']]
final_movies=final_movies[final_movies['vote_average']>=5.5]
final_pivot=final_movies.pivot_table(values='vote_average',index='title',columns='genres').fillna(0)

In [153]:
final_movies[final_movies['title']=='2 Fast 2 Furious']

     genres             title  vote_average  vote_count  title count
560     798  2 Fast 2 Furious           6.2        2028           30

In [161]:
final_movies[final_movies['title']=='Killing Zoe']

    genres        title  vote_average  vote_count  title count
45     791  Killing Zoe           6.1         111           25

In [145]:
from scipy.sparse import csr_matrix
movies_sparse=csr_matrix(final_pivot)

In [146]:
from sklearn.neighbors import NearestNeighbors
nn=NearestNeighbors(metric='cosine',algorithm='brute')
nn.fit(movies_sparse)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
         metric_params=None, n_jobs=1, n_neighbors=5, p=2, radius=1.0)

In [168]:
np.where(final_pivot.index=='Transformers: Dark of the Moon')[0][0]

3537

In [169]:
distance,suggestion=nn.kneighbors(final_pivot.iloc[3537,:].values.reshape(1,-1),n_neighbors=6)

In [170]:
suggestion=final_pivot.index[suggestion].ravel()

In [171]:
for i in range(len(suggestion)):
    print([suggestion[i]])

['Iron Man']
['X-Men: First Class']
['Transformers: Dark of the Moon']
['Dune']
['Pacific Rim']
['Guardians of the Galaxy']